* {
    margin:0;
    padding:0;
}

html, body {
    width:100%;
    height:100%;
}

#loading {
    width:100%;
    height:100%;
    display: none;
}

#menu {
    width:100%;
    height:100%;
    display: none;
}

#game {
    width:100%;
    height:100%;
    background-color: #000;
}

#renderer {
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#playing {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}